<div class="panel panel-default form-panel anim-panel">
    <div class="panel-heading panel-user-title">
        <h4 class="panel-title">
        	登录GeekCoding
        	<i class="panel-icon icon-spinner icon-spin icon-large"></i>
        </h4>
    </div>
    <div class="panel-body">
        <div class="col-md-5">
            <div class="page-header">
            	<h5>通过第三方登录</h5>
            </div>
            {% include 'SiteUserBundle:Security:login_third.html.twig' %}
        </div>
        <div class="col-md-7 panel-body-right">
            <div class="page-header">
            	<h5>注册GeekCoding账户</h5>
            </div>
				{% include 'SiteUserBundle:Registration:register_form.html.twig' %}
        </div>
    </div>
</div>