{% extends "SiteUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<div class="container">
    <div class="form-box">
        <h2>马上加入并开始学习编程!</h2>
    {% include "SiteUserBundle:Registration:register_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}