    {% extends 'SiteHomeBundle::layout.html.twig' %}
    {% block main %}
    <header role="welcome">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <h1>编程者学习,交流,问答的专业平台<br />基础课程全部免费,高级课程全方位在线指导</h1>
            <p>放下手中的咖啡或香烟,弹指之间,将敲出无限智慧。</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="loginform">
              {% include 'SiteHomeBundle:Public:navUserLogin.html.twig' %}
            </div>
          </div>
        </div>
        <div class="center-btn">
          <span class="button-wrap">
            <a href="#" class="button button-circle button-flat-primary">
              开始<i class="icon-code"></i>学习
            </a>
          </span>
        </div>
      </div>
    </header>
    <div class="container" style="margin-top:40px;">
      <div class="row block">
        <div class="col-md-12">
          <div class="block-title">
            <h1>最受欢迎的课程</h1>
          </div>
          {% include 'SiteHomeBundle:Default:lessons.html.twig' with {'types' : types , 'lessons' : lessons} %}
        </div>
      </div>
    </div>
    {% endblock %}