                {% set length = lessons|length // 4 %}
                {% if lessons|length % 4 != 0 %}{% set length = length + 1 %}{% endif %}
                {% set linum = 0 %}
                {% for lesson in 1..length %}
                {% if linum < 7 %}
                <div class="row">
                  {% for lesson in lessons|slice(linum,4) %}
                  <div class="col-md-3 col-sm-3">
                    <a href="{{ path('site_lesson_show',{'index':lesson.index}) }}" class="thumbnail user-login lessons">
                        <div class="startlearn">
                          <span class="flat-btn flat-btn-shadow flat-btn-green">开始学习</span>  
                        </div>
                        <img src="{{ image(lesson.image) }}" alt="">
                        <div class="caption">
                          <dl>
                            <dt><i class="icon-facetime-video"></i>{{ lesson.name }}</dt>
                            <dd>
                              <small>
                                {{ lesson.description|slice(0, 28) }}
                                {% if lesson.description|length > 28 %}
                                  ...
                                {% endif %}
                              </small>
                            </dd>
                          </dl>
                          <div class="tools">
                           <div class="pull-left">
                              <img src="{{ image('uploads/images/users/gravatar.jpeg') }}">
                              <span class="strong">{{ lesson.teacher.user.username }}</span>
                            </div>
                            <div class="pull-right">
                              <span class="small">{{ lesson.users | length }}个人在学习</span>
                              <i class="icon-user"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                  </div>
                  {% set linum = linum + 1 %}
                  {% endfor %}
                </div>
                {% endif %}
                {% endfor %}