<form class="form-horizontal">
                  <!-- <div class="input-group" style="margin-bottom: 5px;"> -->
                    <!-- <span class="input-group-addon">@</span> -->
                    <input type="text" class="form-control" id="inputEmail" placeholder="请输入用户名/电子邮箱">
                  <!-- </div> -->
                  <!-- <div class="input-group" style="margin-bottom: 5px;"> -->
                    <!-- <span class="input-group-addon">@</span> -->
                    <input type="password" class="form-control" id="inputPassword" placeholder="请输入用户密码">
                  <!-- </div> -->
                  <button type="button" style="margin-bottom: 10px;" class="btn btn-primary btn-block">
                    账户登录
                  </button>
                </form>