{% extends 'SiteHomeBundle::layout.html.twig' %}
{% block main %}
<div class="container teacher-container" style="padding:15px 0;" ng-init="init()">
    <div class="teacher-loader"></div>
    <div ui-view></div>
</div>
{% endblock %}
{% block footer %}{% endblock %}