footer {
	position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 170px;
    font-size: @font-size-small;
	color: rgb(85, 85, 85);
	background: url("../img/footer-bg.png") repeat scroll 0 0 #E0E0E0;
	border-top: 1px solid #C5C6C8;
    box-shadow: 0 1px #F3F3F5 inset;
    #geekcoding > .animation-duration(0.4s);
    .footer-top{
    	width: 70%;
    	padding: 10px;
    	margin-top: 20px;
    	height: auto;
    	>.footer-logo,>.footer-title{
            color: rgb(125, 125, 125);
            height: 40px;
            line-height: 20px;
    		float: left;
    	}
    	>.footer-logo{
    		width: 40px;
            height: 40px;
            margin-right: 15px;
            #geekcoding > .background-image-size("../img/footer-logo.png");
    	}
    	>.footer-title{
    		text-align: left;
    	}
    	& + p{
            margin-top: 40px;
            padding: 0 10px;
    		clear: both;
    	}
    }
    .footer-link{
        float: left;
        width: 30%;
        h4{
            height: 30px;
            line-height: 30px;
            margin: 15px 0 0 0;
            padding: 0;
            font-size: ceil(@font-size-large);
            font-weight: bold;
            display: block;
            text-shadow: 0 1px #FFFFFF;
        }
        > ul{
            width: 100%;
            display: block;
            > li{
                width: 100%;
                height: 22px;
                line-height: 22px;
                display: block;
                > a{
                    font-size: @font-size-base;
                    font-weight: 400;
                    color: rgb(125, 125, 125);
                    text-shadow: 0 1px #FFFFFF;
                }
            }
        }
        @media (max-width: @screen-md) {
            display: none;
        }
    }
    .footer-link:last-child{
        margin-left: 30%;
    }
    @media (max-width: @screen-xs) {
            display: none;
        }
        @media (max-width: @screen-sm) {
            display: none;
        }
} 