<aside role="userhome">
    <div class="userlabel row">
        <a class="useravatar col-md-12 col-sm-12" href="{{ path('site_user_template_center') }}">
            <img src="{{ image(user.getUserimg).resize(80,80) }}" />
        </a>
        <div class="useridentity col-md-12 col-sm-12">
                <span>{{ app.user.username }}</span>
                <div class="label-list">
                    <span class="label label-info">web开发</span>
                    <span class="label label-success">工程师</span>
                </div>
                <div class="label-list">
                    <span class="label label-warning">Geeker</span>
                    <span class="label label-primary">授权GT</span>
                </div>
        </div>
    </div>
    <div class="userinfo row">
        <div class="col-md-12 col-sm-12">
            <div class="info-shows">
                <div class="info-show">
                    <a href="#" title=""><span>400</span><span>关注</span></a>
                </div>
                <div class="info-show">
                    <a href="#" title=""><span>100</span><span>G盾</span></a>
                </div>
                <div class="info-show">
                    <a href="#" title=""><span>100</span><span>收藏</span></a>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="{{ path('site_user_template_center') }}"><span class="icon-home"></span><span>用户中心</span></a></li>
        <li><div class="driver"></div></li>
        <li><a href="{{ path('site_user_template_plan') }}"><span class="icon-compass"></span><span>我的计划</span></a></li>
        <li><a href="{{ path('site_user_template_lesson') }}"><span class="icon-book"></span><span>我的课程</span></a></li>
        <li><a href="{{ path('site_user_template_code') }}"><span class="icon-edit-sign"></span><span>学习笔记</span></a></li>
        <li><a href="#"><span class=" icon-star"></span><span>课程收藏</span><span class="badge pull-right">2</span></a></li>
        <li><a href="#"><span class="icon-question-sign"></span><span>技能问答</span><span class="badge pull-right">2</span></a></li>
        <li><div class="driver"></div></li>
        <li><a href="#"><span class="icon-envelope"></span><span>私信通知</span><span class="badge pull-right">2</span></a></li>
        <li><a href="#"><span class="icon-money"></span><span>财务管理</span></a></li>
        <li><a href="#"><span class="icon-cogs"></span><span>账户设置</span></a></li>
    </ul>
</aside>