<div class="row animated fadeIn">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-4 user-menu" ui-view="user-menu">
        </div>
        <div class="col-md-9 col-sm-12 user-main"><div ui-view="user-content"></div></div>
    </div>
</div>