#geekcoding{
    // 字体
    // -------------------------
    .font-style(@color:@font-color,@family: @font-family,@text-decoration: @text-decoration){
        color:@color;
        font-family: @family;
        text-decoration: @text-decoration;
    }
    .font-size(@size:@font-size,@weight:@font-weight){
        font-size: @size;
        font-weight: @weight;
    }
    .font-position(@text-align: left,@line-height: 100%){
        text-align: @text-align;
        line-height: @line-height;
    }
    // 边框
    // -------------------------
    .border-color(@color: #fff, @alpha: 1) {
        border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
    }
    .border(@style: @border-style,@width: @border-width,@color:@border-color,@alpha:@border-alpha ){
        border-style: @style;
        border-width: @width;
        .border-color(@color, @alpha);
    }
    .border-left(@style: @border-style,@width: @border-width,@color:@border-color,@alpha:@border-alpha ){
        border-left-style: @style;
        border-left-width: @width;
        .border-color(@color, @alpha);
    }
    .border-right(@style: @border-style,@width: @border-width,@color:@border-color,@alpha:@border-alpha ){
        border-right-style: @style;
        border-right-width: @width;
        .border-color(@color, @alpha);
    }
    .border-top(@style: @border-style,@width: @border-width,@color:@border-color,@alpha:@border-alpha ){
        border-top-style: @style;
        border-top-width: @width;
        .border-color(@color, @alpha);
    }
    .border-bottom(@style: @border-style,@width: @border-width,@color:@border-color,@alpha:@border-alpha ){
        border-bottom-style: @style;
        border-bottom-width: @width;
        .border-color(@color, @alpha);
    }
    .border-radius(@radius:0){
        border-radius: @radius;
    }
    // 背景
    // -------------------------
    .background-color(@color,@alpha){
        background-color: fade(@color, @alpha);
    }
    .background-image(@img){
    	background: url("@{img}");
    }
    .background-image(@img,  @repeat){
    	background: url("@{img}") @repeat;
    }
    .background-image(@img, @repeat, @color){
    	background: @color url("@{img}") @repeat;
    }
    .background-image-postion(@x,@y){
        background-position: @x @y;
    }
    .background-image-cover(@img){
    	background: url("@{img}") no-repeat center center;
    	background-size: cover;
    }
    .background-image-size(@img,@width: 100%,@height: 100%){
    	background:url(@img);
        background-size:@width @height;
        background-repeat:no-repeat;
    }
    //表单
    // -------------------------
    .clear_placeholder(){
        &::-webkit-input-placeholder { color:transparent; }
        &::-moz-placeholder { color:transparent; }
        &:-moz-placeholder { color:transparent; }
        &:-ms-input-placeholder { color:transparent; }
    }
    //动画
    // -------------------------
    .rotateX(@degrees) {
      -webkit-transform: rotateX(@degrees);
          -ms-transform: rotateX(@degrees);
              transform: rotateX(@degrees);
    }
    .rotateY(@degrees) {
      -webkit-transform: rotateY(@degrees);
          -ms-transform: rotateY(@degrees);
              transform: rotateY(@degrees);
    }
    .rotateZ(@degrees) {
      -webkit-transform: rotateZ(@degrees);
          -ms-transform: rotateZ(@degrees);
              transform: rotateZ(@degrees);
    }
    .animation-duration(@time){
        -webkit-animation-duration: @time;
          -moz-animation-duration: @time;
            -ms-animation-duration: @time;
              -o-animation-duration: @time;
    }
    .animation-delay(@time){
        -webkit-animation-delay: @time;
          -moz-animation-delay: @time;
            -ms-animation-delay: @time;
              -o-animation-delay: @time;
    }
    .animation-iteration-count(@count: infinite){
        -webkit-animation-iteration-count: @count;
          -moz-animation-iteration-count: @count;
            -ms-animation-iteration-count: @count;
              -o-animation-iteration-count: @count;
    }
    .button-variant(@color; @background; @border) {
        color: @color;
        #gradient > .vertical(@background,darken(@background,10%));
        border-color: @border;
        &:hover,
        &:focus,
        &:active,
        &.active,
        .open .dropdown-toggle& {
            color: @color;
            #gradient > .vertical(lighten(@background,1%),@background);
        }
        &:active,
        &.active,
        .open .dropdown-toggle& {
            .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
        }
        &.disabled,
        &[disabled],
        fieldset[disabled] & {
            &,
            &:hover,
            &:focus,
            &:active,
            &.active {
                background-image: none;
                background-color: darken(@background,5%);
                border-color: @border
            }
        }
    }
}
.flat-button-variant(@color; @background; @border) {
  color: @color;
  #geekcoding > .background-color(@background,90%);
  border-color: @border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: @color;
    #geekcoding > .background-color(lighten(@background,5%),90%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
       #geekcoding > .background-color(lighten(@background,5%),90%);
          border-color: @border
    }
  }
}