.navbar{
	.box-shadow(@shadow:0px 1px 2px rgba(0,0,0,0.2));
	margin-bottom:0;
    .dropdown {
    	position: relative;
    	height: @navbar-height - 1px;
    	&:hover{
    		> .dropdown-toggle{
                > .navbar-user-img{
        			> img{
        				#geekcoding > .rotateZ(360deg);
    				    .transition(all 0.5s linear 0s);
        			}
                }
                // > .caret{
                //     // float: right;
                //     // margin-left: 100px;
                // }
    		} 		
		}
    	.dropdown-toggle {
            margin-top: 22px;
            padding: 0;
    		display: block;
            > .navbar-user-img{
                float: left;
                width: 40px;
                height: 40px;
                #geekcoding > .border-radius(20px);
                .box-shadow(rgba(170, 170, 170,0.3) 0px 0px 3px 1px);
                > img{
                    #geekcoding > .border-radius(20px);
                }
            }
            
    	}
    }
    .dropdown-menu {
    	background-color: fadeout(darken(@dropdown-bg,2%), 2%);
    	min-width: 130px;
        &:before {
            content: '';
            display: inline-block;
            border-left:   7px solid transparent;
            border-right:  7px solid transparent;
            border-bottom: 7px solid #ccc;
            border-bottom-color: fadeout(darken(@dropdown-bg,2%), 2%);
            position: absolute;
            top: -7px;
            right: 19px;
        }
        &:after {
            content: '';
            display: inline-block;
            border-left:   6px solid transparent;
            border-right:  6px solid transparent;
            border-bottom: 6px solid fadeout(darken(@dropdown-bg,2%), 2%);
            position: absolute;
            top: -6px;
            right: 20px;
        }
    	> li{
    		> a{
    			font-weight: 600;
    			color: lighten(@dropdown-link-color,10%);
    			font-size: @font-size-small;
    			text-indent: 7px;
    			padding: 6px 15px;
    			> i{
    				text-align: center;
    				width: 20px;
    				height: 100%;
    				float: left;
    				line-height: @line-height-base * 1.1;
    				text-indent: 0;
    			}
    			&:hover,
			    &:focus {
			        color: @dropdown-link-hover-color;
			    }
    		}
    	}
    	.divider {
		    .nav-divider(darken(@dropdown-divider-bg,10%));
		}
    }
}
#logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
    #geekcoding > .background-image-size("../img/logo.png");
}
.navbar-nav {
	margin-top:0;
	margin-bottom: 0;
  > li > a {
    padding-bottom: 0;
  	line-height: 35px;
  	#geekcoding > .font-size(@size:ceil(@font-size-base*1.2),@weight:normal);
  }
  > .dropdown > a{
  	cursor:pointer;
  }
}
.navbar-brand {
	line-height:40px;
	padding-top:22px;
	padding-bottom: 0;
}
.navbar-form{
	> .nav-search{
		position: absolute;
		margin-top: 2px;
		width: auto;
		padding: 0;
		outline-color:#333;
		.icon-search,input[type="search"]{
			height: @input-height-base * 1.2;
			font-weight: normal;
			float: right;
			background-color:#5C5F68;
			#geekcoding > .border-radius();
			border:none;
		}
		.icon-search{
			color: #ccc;
			width: @input-height-base;
			line-height: @line-height-base * 1.4;
			font-size: @font-size-large;
			text-align: center;
			display: block;
		}
		input[type="search"]{
			width: 150px;
			color:#333;
			padding: @padding-base-vertical 0;
			.box-shadow(0);
			.transition(~"width linear .15s");
			&:focus {
				background-color: #fff;
				width: 320px;
				#geekcoding > .clear_placeholder();
				& + .icon-search{
					background-color: #fff;
				}
			}
		}
	}
}