@pagination-active-bg: fade(#fff, 0);
@pagination-hover-bg: fade(#fff, 0);
@pagination-active-color: #16914e;
@pagination-hover-bg: rgb(22, 145, 78);
.pagination-center{
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.pagination{
	margin: 10px auto 15px 0;
	padding: 0;
	> li{
		> a,
        > span{
			color: #333;
			border: none;
			padding: @padding-base-vertical @padding-base-horizontal * 0.7;
			font-weight: 600;
			font-size: @font-size-base;
			#geekcoding > .background-color(#fff,0);
			&:hover,
		    &:focus {
		        color: #fff;
		    }
		}
	    > a[class='pagestep'],
        > span[class='pagestep']{
        	padding: @padding-base-vertical @padding-base-horizontal;
        	background-color: @pagination-hover-bg;
        	color: #fff;
        	.border-radius(@border-radius-base);
        	&:hover,
		    &:focus {
		        background-color: darken(@pagination-hover-bg,10%);
		    }
		    &:first-child{
		    	margin-right: 10px;
		    }
		    &:last-child{
		    	margin-left: 10px;
		    }
        }
	}
}