.teacher-container{
	.teacher-menu{
		text-align: center;
		> .nav{
			margin: 0 auto;
			width: auto;
			display: inline-block;
			> li {
				margin-left: 10px;
				&:first-child{
					margin-left: 0;
				}
				> a {
					padding: 8px 10px;
					background-color: none;
					border-radius: (10px);
					color: #666;
					box-shadow: 0 0 1px rgba(0,0,0,0.5);
					font-size: @font-size-base * 1.2;
					font-weight: 500;
					transition: all 0.5s ease;
				}
				&.active > a,> a:hover {
			        &,
			        &:hover,
			        &:focus {
			            text-shadow: 0 1px 1px #FFF; 
			            background-color: rgba(0, 0, 0, 0.05);
						box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
			        }
			    }
			}
		}
	}
	.teacher-main{
		.panel{
			min-height: 200px;
		}
	}
}