hr {
    width: 100%;
    height: 0;
    margin: 10px 0 20px 0;
    padding: 0;
    float: left;
    position: relative;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #fff;
    overflow: hidden;
    display: inline;
}
.driver{
    height: 0;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #fff;
}