{% extends '::base.html.twig' %}
{% block title %}
    {% if title is not defined %}{{ app.session.get('title') }}{% else %}{{ title }}{% endif %}
{% endblock %}
{% block description %}
    {% if description is not defined %}{{ app.session.get('description') }}{% else %}{{ description }}{% endif %}
{% endblock %}
{% block body %}
    {{ render(controller('SiteHomeBundle:Public:header')) }}
    <div id="main">
        {% block main %}{% endblock %}
    </div>
    {% block footer %}{{ render(controller('SiteHomeBundle:Public:footer')) }}{% endblock %}
    <div id="site-mask"><div class="mask-in"><div id="site-loader"></div></div></div>
    <div class="bar-loader"></div>
    <div class="circle-loader"></div>
{% endblock %}
{% block stylesheets %}
    {% include 'SiteHomeBundle:Public:stylesheets.html.twig' %}
{% endblock %}
{% block javascripts %}
    {% include 'SiteHomeBundle:Public:javascripts.html.twig' %}
{% endblock %}