{% extends 'SiteHomeBundle::layout.html.twig' %}
{% block main %}
    <div class="container">
        <div class="form-box">
            <h2>使用社会化账户登录</h2>
        	{% include 'SiteUserBundle:Oauth:index_content.html.twig' %}
        </div>
    </div>
{% endblock %}