<div id="lessonlist">
{% set i = 0 %}
    {% set step = 4 %}
    {% if lessons|length == 0 %}
      {% set length = -1 %}
    {% elseif lessons|length % step  == 0 and lessons|length != 0 %}
      {% set length = lessons|length / step - 1 %}
    {% elseif lessons|length % step != 0 and lessons|length > step %}
      {% set length = lessons|length // step %}
    {% else %}
      {% set length = 0 %}
    {% endif %}
    {% if length == -1 %}
      <div>
          此分类还没有课程!
      </div>
    {% else %}
    {% for nails in 0..length %}
    <div class="row">
        {% set order = nails * step  %}
        {% for nail in order..order + step - 1 %}
            {% set i = 0 %}
                {% for lesson in lessons %}
                {% if nail == i %}
                    <div class="col-md-3 col-sm-3 col-xs-6">
                      <a href="{{ path('site_lesson_show') }}#/get/{{ lesson.index }}" class="thumbnail lessons">
                        <div class="startlearn">
                          <span class="flat-btn flat-btn-shadow flat-btn-green">开始学习</span>  
                        </div>
                        <img src="{{ image(lesson.image) }}" class="img-responsive" alt="">
                        <div class="caption">
                          <dl>
                            <dt><i class="icon-facetime-video"></i>{{ lesson.name }}</dt>
                            <dd>
                              <small>
                                {{ lesson.description|slice(0, 28) }}
                                {% if lesson.description|length > 28 %}
                                  ...
                                {% endif %}
                              </small>
                            </dd>
                          </dl>
                          <div class="tools">
                            <div class="pull-left">
                              <img src="{{ image('uploads/images/users/gravatar.jpeg') }}">
                              <span class="strong">{{ lesson.teacher.user.username }}</span>
                            </div>
                            <div class="pull-right">
                              <span class="small">{{ lesson.users | length }}个人在学习</span>
                              <i class="icon-user"></i>
                            </div>
                          </div>
                        </div>
                      </a> 
                    </div>
                {% endif %}
                {% set i = i+1 %}
            {% endfor %}
        {% endfor %}
    </div>
	  {% endfor %}
    {% endif %}
</div>