<div class="panel panel-default user-content animated bounceInDown">
    <div class="panel-body">
        规划学习
    <span ng-bind="plan.lesson.name"></span>
    {[{plan.lesson.name}]}
    </div>
</div>